.meus-filmes {
  max-width: 720px;
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.meus-filmes h1 {
  margin-bottom: 14px;
}

.meus-filmes span {
  font-size: 18px;
}

.meus-filmes ul {
  width: 100%;
}

.meus-filmes ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  flex-wrap: wrap;
}

.meus-filmes div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.meus-filmes div a {
  text-decoration: none;
  color: #116feb;
  margin-right: 14px;
}
